<template>
  <v-app>
    <v-main>
      <v-flex xs8 offset-xs2 class="text-left">
        <v-img
          max-height="150"
          class="mx-auto my-3"
          max-width="250"
          src="@/assets/pokemon.svg"
        ></v-img>
        <label
          @click="$store.state.dialog = !$store.state.dialog"
          class="pokemon ml-5"
        >
          Play Who's that Pokémon!!
        </label>
        <v-dialog v-model="$store.state.dialog" width="50%">
          <PlayGame />
        </v-dialog>
        <router-view />
      </v-flex>
    </v-main>
    <v-card class="mt-5 pa-3 d-flex justify-center">
      <v-card-title class="text-center pb-0" align-self="center">
        <small> © 2021 - Por: <a target="_blank" href="https://jotajota.io">José V.</a> / <a target="_blank" href="https://cdmngz.github.io/profile/">Carlos D.</a></small>
      </v-card-title>
    </v-card>
  </v-app>
</template>

<script>
import PlayGame from "./components/PlayGame";

export default {
  name: "App",
  components: {
    PlayGame,
  },
  data: () => ({
    dialog: false,
  }),
  mounted() {
    console.log("¡Atrápalos ya! (atrápalos ya) ¡POKEMÓN!🎯🤾🏽‍♀️🚵🏽‍♂️");
  },
};
</script>

<style>
@font-face {
  font-family: "pokemonsolid";
  src: local("pokemonsolid"),
    url(./assets/fonts/pokemonsolid.ttf) format("truetype");
}

.pokemon {
  color: #f1c43a;
  cursor: pointer;
  font-family: "pokemonsolid", sans-serif;
  letter-spacing: 0.82px;
  text-shadow: 2px 0 0 #3a57a1, -2px 0 0 #3a57a1, 0 2px 0 #3a57a1,
    0 -2px 0 #3a57a1, 1px 1px #3a57a1, -1px -1px 0 #3a57a1, 1px -1px 0 #3a57a1,
    -1px 1px 0 #3a57a1;
  user-select: none;
}
.pokemon-bg {
  background-color: #eeeeeea6;
  border-radius: 80px !important;
}
.pokemon-correct {
  background-color: #06a504bf;
  border-radius: 70px !important;
}
.pokemon-wrong {
  background-color: #d60d0dbf;
  border-radius: 70px !important;
}
.inline-flex {
  display: inline-flex;
}
.text-block {
  white-space: pre-wrap;
}
</style>
